{% extends "base.html"%}
{% block title %}
Welcome to Our Tech Hub
{% endblock %}

{% block content %}
<div class="content">
    <header>
        <h1>Welcome to Our Tech Community!</h1>
    </header>

  


    <div class="info-section">
        <div class="info-box">
            <h2>CyberSara</h2>
            <p>CyberSara is a cybersecurity expert with a knack for securing digital fortresses. She's passionate about protecting data privacy.</p>
        </div>
        <div class="info-box">
            <h2>DataDave</h2>
            <p>DataDave dives deep into the world of data analytics. He loves unraveling complex datasets and extracting valuable insights.</p>
        </div>
        <div class="info-box">
            <h2>CodeChris</h2>
            <p>CodeChris is a coding prodigy, fluent in multiple programming languages. He enjoys crafting elegant solutions to intricate problems.</p>
        </div>

        
    </div>
</div>
{% endblock %}
